@import "media-queries";
@import "bootstrap";
@import "bootstrap-responsive";

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: none;
}

h1 {
  font: normal 1.8em helvetica, arial, sans-serif;
  font-style: italic;
  margin: 0 0 8px 0;
  padding: 0;
  color: #999;
  letter-spacing: -0.02em;
}

h3 {
  color: #666;
  font: normal 1.2em  helvetica, arial, sans-serif;
  margin: 24px 0 14px;
  padding: 0;
  letter-spacing: -0.02em;
}

p.none {
  font-style: italic;
}

#wrapper {
  width: 830px;
  max-width: 100%;
  margin: 50px auto;
}

header {
  @include clearfix;
  margin-bottom: 25px;

  #logo {
    float: left;

    img {
      height: 78px;
    }

    small {
      font: lighter italic 14px lato, helvetica, arial, sans-serif;
      margin-left: 12px;
    }
  }

  nav {
    float: right;
    margin-top: 54px;

    a {
      // text-transform: uppercase;
      font: lighter italic 17px lato, helvetica, arial, sans-serif;
      float: left;
      display: block;
      margin-right: 36px;
    }

    a:last-child {
      margin-right: 0;
    }

    a.active, a:hover {
      color: #999;
    }
  }

  nav.weddings {
    left: 250px;

    a {
      margin-right: 30px;
    }

    a:last-child {
      margin-right: 0;
    }
  }
}

body.book1 header nav a.book1,
body.book2 header nav a.book2,
body.book3 header nav a.book3,
body.book4 header nav a.book4,
body.book5 header nav a.book5,
body.book6 header nav a.book6,
body.book7 header nav a.book7,
body.bio header nav a.bio,
body.contact header nav a.contact,
body.weddings header nav a.weddings {
  color: #999;
}

/* Page page */

body.pages.show {
  #content {
    background-color: #fff;
    border: 1px solid #eee;
    // @include box-shadow(0 4px 20px #eee);
    padding: 24px;

    img {
      float: left;
      // @include box-shadow(1px 4px 20px #888);
      margin: 4px 22px 12px 0;
    }
  }
}

/* Book page */

body.books.show {
  .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    // @include box-shadow(1px 4px 20px #888);
    background-image: url(black_stripe.gif);

    .swipe-wrap {
      overflow: hidden;
      position: relative;

      > div {
        float:left;
        width:100%;
        position: relative;
        text-align: center;

        img.photo {
          max-height: 575px;
        }

        .caption {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          color: #fff;
          padding: 8px 12px;
          text-align: left;
          text-shadow: 1px 1px 0 #111;
          background-color: rgba(0, 0, 0, .4);
          font-size: 12px;
        }
      }
    }

    nav {
      display: none;

      a {
        background: url(arrows.png);
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 45%;
        outline: none;

        span {
          display: none;
        }
      }

      a.prev {
        left: 2%;
      }

      a.next {
        right: 2%;
        background-position: -30px 0;
      }
    }

    &:hover nav {
      display: block;
    }
  }

  .thumbnails {
    display: block;
    margin: 15px;

    a {
      img {
        float: left;
        margin: 8px;
        width: 64px;
        height: 64px;
        @include opacity(80);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        -webkit-transform: translateZ(0);
      }

      &:hover, &.active {
        img {
          @include opacity(100);
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
          -webkit-filter: grayscale(0%);
        }
      }
    }
  }
}

html.touch #slider nav {
  display: none;
}

/* Mobile styles */

@include tablet-portrait-and-below {
  body {
    padding: 10px;
  }

  #wrapper {
    margin-top: 0;
  }

  header {
    margin-bottom: 20px;

    #logo {
      float: none;
      margin-bottom: 10px;

      img {
        height: 50px;
      }
    }

    nav {
      margin: 0 0 25px 0;
      float: none;

      a {
        margin-right: 20px;
        font-size: 15px;
      }
    }
  }

  /* Books page */

  body.books.show {
    #slider {
      margin: 0 -10px;
    }

    .thumbnails {
      a img {
        width: 50px;
        height: 50px;
      }
    }
  }

  /* Page page */

  body.pages.show {
    #content {
      padding: 12px;

      img {
        float: none;
        display: block;
        margin-bottom: 12px;
      }
    }
  }
}
