@import "bootstrap";

body {
	font: 12pt arial, helvetica, sans-serif;
	color: #333;
	background-color: #fff;
	background-image: url(bg.jpg);
	background-repeat: repeat-both;
}

a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #999;
	text-decoration: none;
}

h1 {
	font: normal 1.8em helvetica, arial, sans-serif;
	font-style: italic;
	margin: 0 0 8px 0;
	padding: 0;
	color: #999;
	letter-spacing: -0.02em;
}

h3 {
	color: #666;
	font: normal 1.2em  helvetica, arial, sans-serif;
	margin: 24px 0 14px;
	padding: 0;
	letter-spacing: -0.02em;	
}

p.none {
	font-style: italic;
}

#wrapper {
	width: 830px;
	margin: 50px auto;
}

header {
	position: relative;
	height: 94px;
	margin-bottom: 30px;

  #logo {
  	position: absolute;
  	left: 0;
  	top: 0;
  }

  nav {
  	position: absolute;
  	left: 272px;
  	bottom: 0;
  	height: 20px;	
  
    a {
      text-transform: uppercase;
      font: lighter italic 16px helvetica, arial, sans-serif;
      float: left;
      display: block;
      margin-right: 62px;
    }
    
    a:last-child {
      margin-right: 0;
    }

    a.active, a:hover {
	    color: #999;
    }
  }
  
  nav.weddings {
    left: 250px;
  }
}

body.book1 header nav a.book1,
body.book2 header nav a.book2,
body.book3 header nav a.book3,
body.bio header nav a.bio,
body.contact header nav a.contact {
  color: #999;
}

/* Pages */

body.pages.show {
  #content {
  	background-color: #fff;
  	border: 1px solid #eee;
  	@include box-shadow(0 4px 20px #eee);
	  padding: 24px;
	  
  	img {
  	  float: left;
    	@include box-shadow(1px 4px 20px #888);
    	margin: 1em 2em 1em .5em;
  	} 
  }
}

/* Books */

body.books.show {
  #mobile-photos {
  	display: none;
  }

  #slider {
    @include box-shadow(1px 4px 20px #888);
  	margin-bottom: 20px;
  	height: 553px;
  	width: 830px;
  	overflow-x: hidden;
  	position: relative;
  	
    ul, li {
    	margin:0;
    	padding:0;
    	list-style:none;
    	background-color: #333;
    	text-align: center;
    }

    li {
    	width:830px;
    	height:553px;
    	overflow:hidden;
    	float: left;
    	position: relative;
    	background-image: url(black_stripe.gif);
    	
    	img {
        @include box-shadow(1px 1px 20px #111);
        height: 553px;
        max-width: none;
      }
      
      .caption {
      	position: absolute;
      	bottom: 0;
      	left: 0;
      	width: 806px;
      	color: #fff;
      	padding: 8px 12px;
      	text-align: left;
      	text-shadow: 1px 1px 2px #333;
      	font-size: .92em;
      	background-image: url(caption_bg.png);
      }
    }
    
    nav {
      display: none;
      
      a {
        background: url(arrows.png);
      	width: 30px;
      	height: 30px;
      	display: block;
      	position: absolute;
      	top: 250px;
      	outline: none;
      	
      	span {
      	  display: none;
      	}
      }
      
      a.prev {
        left: 15px;
      }
      
      a.next {
        right: 15px;
        background-position: -30px 0;
      }
    }
    
    &:hover nav {    
    	display: block;
    }
  }

  #slide-bar {
  	height: 8px;
  	background-color: #e2e2e2;
  	position: relative;
  	margin: 35px 35px 50px;

    a.ui-slider-handle {
    	background:url(slider.png);
    	font-weight:normal;
    	width: 100px;
    	height: 30px;
    	position: absolute;
    	z-index: 2;
    	margin-left:-50px;
    	top:-0.3em;	
    	outline: none;
    }
  }
}


