#wrapper {
	width: 300px;
	margin-top: 10px;
}

header {
	height: auto;
	margin-bottom: 0;

  #logo {
  	position: static;	
  	margin-bottom: .4em;
  }

  nav {
	  margin: 0 0 1em 0;
	  position: static;
  
    a {
      margin-right: 1em;
      font-size: 13px;
    }
  }
}

/* Book page */

body.books.show {
  #photos {
  	display: none;
  }

  #mobile-photos {
  	margin-left: -5px;
  	display: block;

    img {
  	  float: left;
  	  margin: 5px;
  	  width: 64px;
  	  height: 64px;
    }
  }
}

/* Page page */

body.pages.show {
  #content {
    padding: 12px;
    
    img {
      width: 100%;
      margin: 0 0 1.5em 0;
    }
  }
}

